<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Cleareye.ai Quiz</h2>
    </div>
  </div>
  <div class="row" *ngIf="!showResult">
    <!-- <div class="flex-container" *ngFor="let question of sessionQuestions$ | async" >
      <p>{{question.questionText}}</p>
      <mat-radio-group *ngFor="let answer of question.options, let i=answerIndex">
        <mat-radio-button value='{{answerIndex}}'>{{answer.displayText}}</mat-radio-button>
      </mat-radio-group>
    </div> -->
    <div class="col-md-12" *ngIf="currentQuestionIndex < questions.length">
      <p>{{ currentQuestionIndex + 1 }} of {{ questions.length }}</p>
      <h3>{{ questions[currentQuestionIndex].questionText }}</h3>
      <ul>
        <li
          *ngFor="
            let option of questions[currentQuestionIndex].options;
            let i = index
          "
        >
          <input
            type="radio"
            [name]="'answer' + currentQuestionIndex"
            [value]="i"
            (change)="selectAnswer(i)"
          />
          <label> {{ option.displayText }}</label>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="nextQuestion()">Next</button>
    </div>
  </div>
</div>
<div class="row" *ngIf="showResult">
  <div class="col-md-12 text-center">
    <h2>Your Score: {{getFinalScore()}}</h2>
    <div *ngIf="minimumPassMark$| async as minimumPassMark">
      <p class="result-text" *ngIf="getFinalScore() >= minimumPassMark">{{passMessage}}</p>
      <p class="result-text" *ngIf="getFinalScore() < minimumPassMark">{{failMessage}}</p>
      <button class="btn btn-primary" *ngIf="getFinalScore() < minimumPassMark" (click)="retryQuiz()">Retake Quiz</button>
    </div>
  </div>
</div>
